In [75]:
import pandas as pd

In [76]:
df = pd.read_csv('Used Car Dataset.csv')
df.head()

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

In [77]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.shape

(1553, 14)

## Check str in each col

In [78]:
insur = df['insurance_validity'].unique()
print(insur.shape)
print(insur)

(6,)
['Comprehensive' 'Third Party insurance' 'Zero Dep' 'Third Party' 'Petrol'
 'Not Available']

In [79]:
fuel_type = df['fuel_type'].unique()
print(fuel_type.shape)
print(fuel_type)

(4,)
['Petrol' 'Diesel' 'CNG' '5 Seats']

In [80]:
seats = df['seats'].unique()
# change num to str
df['seats'] = df['seats'].astype(str)
print(seats.shape)
print(seats)

(6,)
[    5     6     7     4     8 67000]

In [81]:
ownsership = df['ownsership'].unique()
print(ownsership.shape)
print(ownsership)

(22,)
['First Owner' 'Second Owner' 'Third Owner' '2993 cc' '1461 cc' '998 cc'
 '1995 cc' '1451 cc' '1998 cc' '1498 cc' '1497 cc' '1996 cc' '1950 cc'
 '2013' 'Fifth Owner' '1199 cc' '1248 cc' '999 cc' '1197 cc' '1984 cc'
 '2999 cc' '1968 cc']

In [82]:
transmission = df['transmission'].unique()
print(transmission.shape)
print(transmission)

(13,)
['Automatic' 'Manual' '2017' '2014' '2023' '2020' '2021' '2011' '2022'
 'Power Windows Front' '2018' '2015' '2016']

## Drop str

In [83]:
df_drop_str = df[df.insurance_validity != 'Petrol']

df_drop_str = df[df.fuel_type != '5 Seats']

df_drop_str = df[df.seats != '67000']

owner_drop = ['2993 cc', '1461 cc', '998 cc','1995 cc', '1451 cc', '1998 cc', '1498 cc', '1497 cc', '1996 cc', '1950 cc','2013', '1199 cc', '1248 cc', '999 cc', '1197 cc', '1984 cc','2999 cc', '1968 cc']
df_drop_str = df[~df['ownsership'].isin(owner_drop)]

trans_drop = ['2017', '2014', '2023', '2020', '2021', '2011', '2022', 'Power Windows Front', '2018', '2015', '2016']
df_drop_str = df[~df['transmission'].isin(trans_drop)]

df_drop_str.shape

(1503, 14)

In [84]:
# drop row which contains null
df_drop_str = df_drop_str.dropna()
df_drop_str.shape

(1499, 14)

In [85]:
df_drop_str.head()

,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00