In [119]:
import pandas as pd

## Read csv file

In [120]:
df_ori = pd.read_csv('Used Car Dataset.csv')
df_ori.head()

,Unnamed: 0,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

## Drop unnecessary column and explore data size

In [104]:
df_ori = df.loc[:, ~df_ori.columns.str.contains('^Unnamed')]
print(df_ori.shape)

(1553, 14)

## Explore data

In [121]:
unique_categories = df_ori['car_name'].unique()
print(unique_categories.shape)
# print(unique_categories)

(925,)

## Split car_name column because it contains information that require to analyze

In [122]:
# Split the 'Text' column into multiple columns based on space and keep only the 2nd word
df_brand = df_ori['car_name'].str.split().str[1]

# Display the result
print(df_brand)

0       Mercedes-Benz
1              Nissan
2                 BMW
3                 Kia
4               Skoda
            ...
1548          Hyundai
1549          Renault
1550            Honda
1551       Volkswagen
1552           Maruti
Name: car_name, Length: 1553, dtype: object

In [123]:
# Split the 'Text' column into multiple columns based on space and keep only the 2nd word
df_model = df_ori['car_name'].str.split(n=2).str[2]

# Display the result
print(df_model)

0                                S-Class S400
1       Magnite Turbo CVT XV Premium Opt BSVI
2                         X1 sDrive 20d xLine
3                             Seltos GTX Plus
4                        Superb LK 1.8 TSI AT
                        ...
1548              Creta SX Opt Diesel AT BSVI
1549                    KWID 1.0 RXL Opt BSVI
1550                            WR-V i-VTEC S
1551                 Polo 1.0 MPI Comfortline
1552                          Swift Dzire VXI
Name: car_name, Length: 1553, dtype: object

## Insert car brand into dataframe

In [124]:
df_ori.insert(loc=1, column='car_brand', value=df_brand)
df_ori.insert(loc=2, column='car_model', value=df_model)
df_ori.head()

,Unnamed: 0,car_brand,car_model,car_name,registration_year,insurance_validity,fuel_type,seats,kms_driven,ownsership,transmission,manufacturing_year,mileage(kmpl),engine(cc),max_power(bhp),torque(Nm),price(in lakhs)
0,0,Mercedes-Benz,S-Class S400,2017 Mercedes-Benz S-Class S400,Jul-17,Comprehensive,Petrol,5,56000,First Owner,Automatic,2017,7.81,2996.0,2996.0,333.0,63.75
1,1,Nissan,Magnite Turbo CVT XV Premium Opt BSVI,2020 Nissan Magnite Turbo CVT XV Premium Opt BSVI,Jan-21,Comprehensive,Petrol,5,30615,First Owner,Automatic,2020,17.40,999.0,999.0,9863.0,8.99
2,2,BMW,X1 sDrive 20d xLine,2018 BMW X1 sDrive 20d xLine,Sep-18,Comprehensive,Diesel,5,24000,First Owner,Automatic,2018,20.68,1995.0,1995.0,188.0,23.75
3,3,Kia,Seltos GTX Plus,2019 Kia Seltos GTX Plus,Dec-19,Comprehensive,Petrol,5,18378,First Owner,Manual,2019,16.50,1353.0,1353.0,13808.0,13.56
4,4,Skoda,Superb LK 1.8 TSI AT,2019 Skoda Superb LK 1.8 TSI AT,Aug-19,Comprehensive,Petrol,5,44900,First Owner,Automatic,2019,14.67,1798.0,1798.0,17746.0,24.00

## Test : query unique car brand

In [125]:
car_brand = df_ori['car_brand'].unique()
print(car_brand.shape)
print(car_brand)

(28,)
['Mercedes-Benz' 'Nissan' 'BMW' 'Kia' 'Skoda' 'Honda' 'Hyundai' 'Tata'
 'Renault' 'Ford' 'Jeep' 'MG' 'Maruti' 'Audi' 'Toyota' 'Jaguar'
 'Volkswagen' 'Mahindra' 'Volvo' 'Land' 'Isuzu' 'Mitsubishi' 'Porsche'
 'Datsun' 'Lexus' 'Mini' 'Fiat' 'Lamborghini']

## Write csv file (export)

In [117]:
# Specify the file path
file_path = 'output_used car.csv'

# Write the DataFrame to a CSV file
df_ori.to_csv(file_path, index=False)

print(f'Data has been written to {file_path}')

Data has been written to output_used car.csv